body {
  background-color: rgba(0, 0, 0, 0.37);
  text-align: center;
  height: 100%;
}
#container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 90vh;
}

h1 {
  font-family: "Press Start 2P", cursive;
  width: 100%;
  color: white;

  text-shadow: 0px 0px 12px black;
  text-align: center;
  font-size: clamp(2.2rem, 3vw, 10rem);

  line-height: 3rem;
}

.square {
  position: relative;
  display: inline-block;
  width: clamp(5rem, 8vw, 15rem);
  height: clamp(5rem, 8vw, 15rem);
  background-color: white;
  box-shadow: 2px 2px 6px black;
  margin: 2px;
}

.x::after {
  content: "\1F313";
  position: absolute;
  font-size: clamp(2.5rem, 4vw, 7.5rem);
  line-height: clamp(5rem, 8vw, 15rem);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.o::after {
  content: "\1F31E";
  position: absolute;
  font-size: clamp(2.5rem, 4vw, 7.5rem);
  line-height: clamp(5rem, 8vw, 15rem);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
